@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Luckiest+Guy&family=Pirata+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{font-family: "poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{height: 100vh;
    background: url(backgr\ 4.jpg) no-repeat center/cover;
    padding: 50px 5%;     
}
.container{
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    backdrop-filter: blur(30px);
    transform: scale(0);
    animation: zoom-in 2.5s ease forwards;
}
@keyframes zoom-in{ 100% { transform: scale(1);}}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.animated{ transform: translateY(30px);
    opacity: 0;
    animation: slide-in 1s ease forwards;
    animation-delay: 2.5s;
}

@keyframes slide-in {
    100%{ transform: translateY(0);
    opacity: 1;
    }
}


.logo{
    font-size: 25px;
    color: blueviolet;
    text-decoration: none;
    font-weight: 600;

}
.navbar a{
    font-size: 18px;
    color: chartreuse;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    border-bottom: 2px solid transparent;
    transition: .5s;
}

.navbar a:hover, .navbar a.active {
    border-color: darkorange;
}

.home{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 50px 5% 0;
    color: #fff;
animation-delay: 2s;
}

.home-detail h1{font-size: 80px;
font-family: "Anton SC", sans-serif;
color: rgb(241, 235, 245);
cursor: pointer;

}




.home-detail h2{
    font-size: 32px;
    color: rgb(49, 1, 90);
}
.home-detail p{
    margin: 10px 0 20px;
    color: chartreuse;
}

.home-detail .download-social{
    display: flex;
    align-items: center;
}

.btn{ display: inline-block;
padding: 10px 30px;
background: #fff;
border: 2px solid #fff;
border-radius: 40px;
box-shadow: 0 0 10px #fff;
color: #333;
text-decoration: none;
font-weight: 500;
}
.btn:hover{
    background: transparent;
    box-shadow: none;
    color:#fff;
}
.home-detail .social-icons{
    margin-left: 20px;
}

.home-detail .social-icons a{ display: inline-flex;
    padding: 8px;
    border: 2px;
    border: 2px solid #fff;
    border-radius:50% ;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    transition: .5s;
}

.home-detail .social-icons a:hover{
    background: #fff;
    box-shadow: 0 0 10px;
    color: blueviolet;
}

.home-img .img-box{
    position: relative;
    height: 30vw;
    width: 25vw;
    border: 2px solid #fff;
    border-radius: 71% 29% 31% 69% / 73% 58% 42% 27%;
    box-shadow: 0 0 20px #fff;
    overflow: hidden;
}
.home-img .img-box img{
    position: absolute;
    display: block;
    width: 100%;
    object-fit: cover;
}






